<form class="form-login" [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-form-field class="text-size" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      required
      email
    />
  </mat-form-field>

  <mat-form-field class="text-size" appearance="fill">
    <mat-label>Clave</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <div class="buttons-login">
    <button mat-raised-button color="primary" type="submit">Ingresar</button>
  </div>
</form>
