.text-size {
  width: 95%;
}

.buttons-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
