<form class="form-register" [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-elements">
    <mat-form-field class="size-elements" appearance="fill">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="size-elements" appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="lastName" required />
    </mat-form-field>

    <mat-form-field class="size-elements" appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <mat-form-field class="size-elements" appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
        email
      />
    </mat-form-field>

    <mat-form-field class="size-elements" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="register-buttons">
    <button mat-raised-button color="primary" type="submit">Registrarse</button>
  </div>
</form>
