.size-elements {
  width: 95%;
}

.register-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}