<mat-card
  class="card-contain"
  appHoverCard
  [defaultElevation]="2"
  [raisedElevation]="16"
>
  <mat-card-header>
    <mat-card-title>{{ property.city.description }}</mat-card-title>
    <mat-card-subtitle>{{
      property.neighbourhood.description
    }}</mat-card-subtitle>
  </mat-card-header>
  <img height="320" mat-card-image src="assets/images/apto1.jpg" />

  <mat-card-actions>
    <div class="actions-card">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="goToProp()"
      >
        Ver más
      </button>
      <span
        ><strong>{{ property.price | currency }}</strong></span
      >
    </div>
  </mat-card-actions>
</mat-card>
