<app-navbar></app-navbar>

<div class="container">
  <div style="margin-bottom: 1em">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Agregar
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filtre los usuarios"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8 div-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Nombres
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          {{ row.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Apellidos
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          {{ row.lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Teléfono
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          {{ row.phone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Correo electrónico
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          {{ row.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th
          style="width: 16%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Rol
        </th>
        <td style="width: 16%" mat-cell *matCellDef="let row">
          {{ row.rol.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon
            class="icon-prop"
            aria-hidden="false"
            aria-label="Edit Icon"
            (click)="editProp(row)"
            >edit</mat-icon
          >
          <mat-icon
            class="icon-prop"
            aria-hidden="false"
            aria-label="Delete Icon"
            (click)="deleteProp(row)"
            >delete</mat-icon
          >
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay dataos para mostrar</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
