<app-navbar></app-navbar>

<div class="container">
  <div style="margin-bottom: 1em;">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Agregar
    </button>
  </div>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filtre sus propiedades"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8 div-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="offerType">
        <th
          style="width: 10%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Tipo de oferta
        </th>
        <td style="width: 10%" mat-cell *matCellDef="let row">
          {{ row.offerType === "RENTAL" ? "Arriendo" : "Venta" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="typeProperty">
        <th
          style="width: 12%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Tipo de propiedad
        </th>
        <td style="width: 12%" mat-cell *matCellDef="let row">
          {{ row.typeProperty.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th
          style="width: 12%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Ciudad
        </th>
        <td style="width: 12%" mat-cell *matCellDef="let row">
          {{ row.city.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="neighbourhood">
        <th
          style="width: 12%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Barrio
        </th>
        <td style="width: 12%" mat-cell *matCellDef="let row">
          {{ row.neighbourhood.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th
          style="width: 12%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Dirección
        </th>
        <td style="width: 12%" mat-cell *matCellDef="let row">
          {{ row.address }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th
          style="width: 10%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Precio
        </th>
        <td style="width: 10%" mat-cell *matCellDef="let row">
          {{ row.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="stratum">
        <th style="width: 8%" mat-header-cell *matHeaderCellDef mat-sort-header>
          Estrato
        </th>
        <td style="width: 8%" mat-cell *matCellDef="let row">
          {{ row.stratum }}
        </td>
      </ng-container>

      <ng-container matColumnDef="area">
        <th style="width: 8%" mat-header-cell *matHeaderCellDef mat-sort-header>
          Área
        </th>
        <td style="width: 8%" mat-cell *matCellDef="let row">
          {{ row.area }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th
          style="width: 16%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Descripción
        </th>
        <td style="width: 16%" mat-cell *matCellDef="let row">
          {{ row.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Opciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon
            class="icon-prop"
            aria-hidden="false"
            aria-label="Edit Icon"
            (click)="editProp(row)"
            >edit</mat-icon
          >
          <mat-icon
            class="icon-prop"
            aria-hidden="false"
            aria-label="Delete Icon"
            (click)="deleteProp(row)"
            >delete</mat-icon
          >
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay dataos para mostrar</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
