

table {
  width: 100%;
}

.container {
  margin-left: 2em;  
  position: absolute;
  top: 80px;
  width: 96.5%;
}

.icon-prop {
  cursor: pointer;
}

.icon-prop:hover {
  background: #d5d8dc;
}

.div-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
