<app-navbar></app-navbar>

<div class="cards-home">
  <form class="search">
    <mat-form-field class="input-search">
      <mat-label>Buscar</mat-label>
      <input
        #searchText
        type="text"
        matInput
        placeholder="Ciudad"
        [formControl]="filter"
      />
      <mat-icon id="icon-search" matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <div class="container-cards">
    <div *ngFor="let property of properties | filterProps: filter.value">
      <app-card [property]="property"></app-card>
    </div>
  </div>
</div>
