.cards-home {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 40px;

  .search {
    width: 95%;

    .input-search {
      width: 300px;

      #icon-search {
        cursor: pointer;
      }
    }
  }
}

.navbar-home {
  width: 100%;
}

.container-cards {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
