<form class="form-register" [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-elements">
    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Tipo de oferta</mat-label>
        <mat-select formControlName="offerType">
          <mat-option *ngFor="let offer of offersType" [value]="offer.value">
            {{ offer.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Tipo de propiedad</mat-label>
        <mat-select formControlName="idTypeProperty">
          <mat-option *ngFor="let type of typeProperties" [value]="type.id">
            {{ type.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Ciudad</mat-label>
        <mat-select
          formControlName="idCity"
          (selectionChange)="onChangeCity($event)"
        >
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Barrio</mat-label>
        <mat-select formControlName="idNeighbourhood">
          <mat-option
            *ngFor="let neighbourhood of neighbourhoods"
            [value]="neighbourhood.id"
          >
            {{ neighbourhood.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput formControlName="price" />
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Estrato</mat-label>
        <mat-select formControlName="stratum">
          <mat-option *ngFor="let val of stratum" [value]="val">
            {{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Área (m2)</mat-label>
        <input matInput formControlName="area" />
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>¿Incluye administración?</mat-label>
        <mat-select formControlName="administrationInPrice">
          <mat-option *ngFor="let val of booleans" [value]="val.value">
            {{ val.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Tiene parqueadero?</mat-label>
        <mat-select formControlName="parking">
          <mat-option *ngFor="let val of booleans" [value]="val.value">
            {{ val.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements-3" appearance="fill">
        <mat-label>Pisos</mat-label>
        <input
          matInput
          type="number"
          placeholder="2"
          formControlName="floors"
          min="0"
          max="12"
        />
      </mat-form-field>

      <mat-form-field class="size-elements-3" appearance="fill">
        <mat-label>Habitaciones</mat-label>
        <input
          matInput
          type="number"
          placeholder="2"
          formControlName="rooms"
          min="0"
          max="12"
        />
      </mat-form-field>

      <mat-form-field class="size-elements-3" appearance="fill">
        <mat-label>Baños</mat-label>
        <input
          matInput
          type="number"
          placeholder="2"
          formControlName="bathrooms"
          min="0"
          max="12"
        />
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements-full" appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="register-buttons">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
</form>
