.size-elements {
  width: 45%;
}

.size-elements-3 {
  width: 29%;
}

.size-elements-full {
  width: 94%;
  textarea {
    height: 4em;
  }
}

.container-controls {
  display: flex;
  justify-content: space-evenly;
}

.register-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .form-elements {
    width: 100%;
  }
}
