<app-navbar [visible]="true"></app-navbar>

<main>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Nuestro producto</h2>
    <div class="contenedor-sobre-nosotros">
      <img
        src="https://images.pexels.com/photos/313691/pexels-photo-313691.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt=""
        class="imagen-about-us"
      />
      <div class="contenido-textos">
        <h3><span>1</span>Los mejores lugares</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          veniam eius aspernatur ad consequuntur aperiam minima sed dicta odit
          numquam sapiente quam eum, architecto animi pariatur, velit doloribus
          laboriosam ut.
        </p>
        <h3><span>2</span>Las mejores tarifas</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          veniam eius aspernatur ad consequuntur aperiam minima sed dicta odit
          numquam sapiente quam eum, architecto animi pariatur, velit doloribus
          laboriosam ut.
        </p>
        <h3><span>3</span>Las mejores ganancias</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          veniam eius aspernatur ad consequuntur aperiam minima sed dicta odit
          numquam sapiente quam eum, architecto animi pariatur, velit doloribus
          laboriosam ut.
        </p>
      </div>
    </div>
  </section>
  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Portafolio</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img
            src="https://images.pexels.com/photos/50987/money-card-business-credit-card-50987.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt=""
          />
          <div class="hover-galeria">
            <img src="img/icono1.png" alt="" />
            <p>Compra</p>
          </div>
        </div>
        <div class="imagen-port">
          <img
            src="https://images.pexels.com/photos/327540/pexels-photo-327540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt=""
          />
          <div class="hover-galeria">
            <img src="img/icono1.png" alt="" />
            <p>Vende</p>
          </div>
        </div>
        <div class="imagen-port">
          <img
            src="https://images.pexels.com/photos/2394446/pexels-photo-2394446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt=""
          />
          <div class="hover-galeria">
            <img src="img/icono1.png" alt="" />
            <p>Arrienda</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clientes contenedor">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
      <div class="card">
        <img
          src="https://images.pexels.com/photos/4546025/pexels-photo-4546025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt=""
        />
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            sapiente!
          </p>
        </div>
      </div>
      <div class="card">
        <img src="img/face2.jpg" alt="" />
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            sapiente!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Nuestros servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img
            src="https://cdn.pixabay.com/photo/2018/05/08/08/42/handshake-3382503_960_720.jpg"
            alt=""
          />
          <h3>Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            qui?
          </p>
        </div>
        <div class="servicio-ind">
          <img
            src="https://cdn.pixabay.com/photo/2015/05/15/01/48/computer-767776_960_720.jpg"
            alt=""
          />
          <h3>Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            qui?
          </p>
        </div>
        <div class="servicio-ind">
          <img
            src="https://images.pexels.com/photos/175045/pexels-photo-175045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt=""
          />
          <h3>Name</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            qui?
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>