.form-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 78px;
  .container {
    width: 55%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    .form-elements {
      width: 92%;
      .size-elements {
        width: 100%;
      }
    }
    .register-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
