<footer>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>Contacto</h4>
      <p>3002304550</p>
    </div>
    <div class="content-foo">
      <h4>Correo</h4>
      <p>AlianzaInmobiliaria@gmail.com</p>
    </div>
    <div class="content-foo">
      <h4>Ubicacion</h4>
      <p>Bogota D.C</p>
    </div>
  </div>
  <h2 class="titulo-final">&copy; Alianza Inmobiliaria</h2>
</footer>
