<app-navbar></app-navbar>

<div class="container">
  <button mat-raised-button color="primary" (click)="export()">
    Descargar PDF
  </button>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Filtre las comisiones"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8 div-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="amount">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Cantidad
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          {{ row.amount | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="buyer">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Comprador
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          {{ row.buyer }}
        </td>
      </ng-container>

      <ng-container matColumnDef="idProperty">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Código de la propiedad
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          <a routerLink="/property/{{ row.idProperty }}" target="_blank">
            {{ row.idProperty }}</a
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="idUser">
        <th
          style="width: 20%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Usuario comercial
        </th>
        <td style="width: 20%" mat-cell *matCellDef="let row">
          {{ row.idUser }}
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th
          style="width: 16%"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Comentario de compra
        </th>
        <td style="width: 16%" mat-cell *matCellDef="let row">
          {{ row.comment }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay dataos para mostrar</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
