<form class="form-register" [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-elements">
    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone" />
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
    </div>

    <div class="container-controls">
      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="size-elements" appearance="fill">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="idRol">
          <mat-option *ngFor="let rol of roles" [value]="rol.id">
            {{ rol.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="register-buttons">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
</form>
