<header>
  <nav class="navbar">
    <span>
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="sidebar"
        *ngIf="isSession"
        (click)="toggle()"
        >toc</mat-icon
      >
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="home icon"
        routerLink="home"
        >home</mat-icon
      >
    </span>
    <span>
      <a routerLink="/properties">Inmuebles</a>
      <a routerLink="/auth" *ngIf="!isSession">Ingresar</a>
      <a routerLink="/auth" *ngIf="!isSession">Registrarse</a>
      <button
        *ngIf="isSession"
        mat-button
        [matMenuTriggerFor]="menu"
        style="color: white"
      >
        {{ user.name + " " + user.lastName }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/user', user.id]">
          Editar perfil
        </button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>
    </span>
  </nav>
  <section *ngIf="visible" class="textos-header">
    <h1>Consigue tu lugar preferido</h1>
    <h2>Con nosotros</h2>
  </section>
  <div class="wave" style="height: 150px; overflow: hidden">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%"
    >
      <path
        d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff"
      ></path>
    </svg>
  </div>
</header>
