<app-navbar></app-navbar>
<div class="container">
  <div class="auth-container">
    <div class="login">
      <app-login></app-login>
    </div>
    <div class="register">
      <app-register></app-register>
    </div>
  </div>
</div>
