.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70px;
  .auth-container {
    display: flex;
    width: 60%;
    justify-content: center;
    background: white;    
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    height: 31em;
    .login {
      width: 50%;
      margin-top: 2em;
    }
    .register {
      width: 50%;
      margin-top: 2em;
    }
  }
}
