<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-list>
      <mat-list-item
        class="list-item"
        *ngFor="let action of listActions"
        (click)="redirect(action.redirect)"
        [ngStyle]="{ display: action.visible ? 'block' : 'none' }"
      >
        <mat-icon matListIcon>{{ action.icon }}</mat-icon>
        <h3 matLine>{{ action.name }}</h3>
        <p matLine>
          <span> {{ action.message }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100vh">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
