/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-error {
  background-color: #d9534f;
  width: 60em;
  color: #fff;

  .mat-button-wrapper {
    color: #fff;
  }
}

.snackbar-success {
  background-color: #5cb85c;
  width: 60em;
  color: #fff;

  .mat-button-wrapper {
    color: #fff;
  }
}
