<app-navbar></app-navbar>

<div class="container-prop-detail">
  <section class="container-prop-detail__section1">
    <section class="description-offer">
      <div class="container-ubication">
        <strong id="container-ubication-city"
          >{{ property.typeProperty.description }} en
          {{ property.offerType === "RENTAL" ? "Arriendo" : "Venta" }}</strong
        >
        <span id="container-ubication-neigh">
          {{ property.city.description }}
          {{ property.neighbourhood.description }}
        </span>
      </div>

      <strong id="price">{{ property.price | currency }}</strong>
    </section>
    <app-carousel-img></app-carousel-img>
    <section class="prop-datails">
      <div class="prop-datails-general">
        <i class="fas fa-arrows-alt-h fa-2x"></i>
        <span class="prop-datails-general-span">{{ property.area }} m²</span>
      </div>
      <div class="prop-datails-general">
        <i class="fas fa-bed fa-2x"></i>
        <span class="prop-datails-general-span"
          >Habitaciones: {{ property.rooms }}</span
        >
      </div>
      <div class="prop-datails-general">
        <i class="fas fa-shower fa-2x"></i>
        <span class="prop-datails-general-span"
          >Baños: {{ property.bathrooms }}</span
        >
      </div>
      <div class="prop-datails-general">
        <i class="fas fa-car fa-2x"></i>
        <span class="prop-datails-general-span"
          >Parqueadero: {{ property.parking ? "Sí" : "No" }}</span
        >
      </div>
    </section>
    <article class="more-detail-prop">
      <section class="more-detail-prop-section">
        <div>
          <strong>Área</strong>
          <p>{{ property.area }} m²</p>
        </div>
        <div>
          <strong>Estrato</strong>
          <p>{{ property.stratum }}</p>
        </div>
      </section>
      <section class="more-detail-prop-section">
        <div>
          <strong>Pisos</strong>
          <p>{{ property.floors }}</p>
        </div>
        <div>
          <strong>¿Incluye administración?</strong>
          <p>{{ property.administrationInPrice ? "Sí" : "No" }}</p>
        </div>
      </section>
    </article>
    <section class="description-prop">
      <strong style="font-size: 18px">Descripcion</strong>
      <p style="font-size: 15px">
        {{ property.description }}
      </p>
    </section>
    <section class="description-prop">
      <strong style="font-size: 18px">Comercial Encargado</strong>
      <p style="font-size: 15px">
        {{ comercial.name }} {{ comercial.lastName }}
      </p>
    </section>
  </section>

  <section
    *ngIf="property.state === 'OFFER'"
    class="container-prop-detail__section2"
  >
    <form class="form-register" [formGroup]="saleForm" (ngSubmit)="sale()">
      <div class="form-elements">
        <mat-form-field class="size-elements" appearance="fill">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>

        <mat-form-field class="size-elements" appearance="fill">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName" required />
        </mat-form-field>

        <mat-form-field class="size-elements" appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>
      </div>

      <div class="register-buttons">
        <button mat-raised-button color="primary" type="submit">Comprar</button>
      </div>
    </form>
  </section>

  <section
    *ngIf="property.state === 'SALE'"
    class="container-prop-detail__section2"
  >
    <div class="warning">Este inmueble ya ha sido vendido</div>
  </section>
</div>
