* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.description-offer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  #price {
    font-size: 20px;
  }
}

.container-prop-detail {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 10em;
  left: 5em;
  display: flex;
  .container-ubication {
    display: flex;
    flex-direction: column;
    #container-ubication-neigh {
      font-size: 14px;
    }
    #container-ubication-city {
      font-size: 18px;
    }
  }

  .container-prop-detail__section1 {
    width: 55%;
  }

  .container-prop-detail__section2 {
    width: 40%;
  }

  .prop-datails {
    width: 95%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .prop-datails-general {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dedede;
      width: 25%;
      height: 100%;
      text-align: center;
      margin-top: 1em;
      .prop-datails-general-span {
        margin-left: 8px;
      }
    }
  }

  .more-detail-prop {
    width: 95%;
    display: flex;
    justify-content: space-around;
    border: 1px solid #dedede;
    margin-top: 1em;
    .more-detail-prop-section {
      padding-top: 8px;
    }
  }

  .description-prop {
    width: 95%;
    margin-top: 1em;
  }
}

.size-elements {
  width: 95%;
}

.register-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-register {
  padding: 40px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.warning {
  border: 1px solid;
  margin: 10px 0px;
  margin-top: 3em;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9f6000;
  background-color: #feefb3;
  background-image: url("https://i.imgur.com/Z8q7ww7.png");
}
