<div class="w3-display-container container-carousel">
  <img class="mySlides" src="assets/images/apto1.jpg" />
  <img class="mySlides" src="assets/images/apto2.jpg" />
  <img class="mySlides" src="assets/images/apto3.jpg" />
  <div
    class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
    style="width: 100%"
  >
    <div class="w3-left w3-hover-text-khaki" (click)="plusDivs(-1)">
      &#10094;
    </div>
    <div class="w3-right w3-hover-text-khaki" (click)="plusDivs(1)">
      &#10095;
    </div>
    <span
      class="w3-badge demo w3-border w3-transparent w3-hover-white"
      (click)="currentDiv(1)"
    ></span>
    <span
      class="w3-badge demo w3-border w3-transparent w3-hover-white"
      (click)="currentDiv(2)"
    ></span>
    <span
      class="w3-badge demo w3-border w3-transparent w3-hover-white"
      (click)="currentDiv(3)"
    ></span>
  </div>
</div>
