.mySlides {
  display: none;
  width: 100%;
  height: 36em;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.container-carousel {
  width: 95%;
}
